@import "styles/navbar.css";
@import "styles/mobile.css";
@import "styles/pages.css";
@import "styles/social.css";

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main section.page1, section.page3 {
	background: #42A1BE;
}

.main section.page2, section.page4, section.page5 {
	background: #FFFFFF;
}

.main section.page1 {
	padding-top: 10%;
}

.main section.page2 {
	padding-top: 8%;
}

.main section.page3 {
	padding-top: 5%;
}

.main section.page4 {
	padding-top: 2%;
}

.main section.page5 {
	padding-top: 4%;
}

.main section .page_container {
	position: relative;
	top: 10%;
	margin: 0 auto 0;
	max-width: 1200px;
	z-index: 3;
}

.main section  {
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: fira-light;
	src: url(assets/fonts/fira-sans/FiraSans-Light.ttf);
}

@font-face {
	font-family: fira-italic;
	src: url(assets/fonts/fira-sans/FiraSans-LightItalic.ttf);
}

@font-face {
	font-family: fira-light-bold;
	src: url(assets/fonts/fira-sans/FiraSans-Bold.ttf);
}

@font-face {
	font-family: fira-bold;
	src: url(assets/fonts/fira-sans/FiraSans-SemiBold.ttf);
}