@import "styles/navbar.css";
@import "styles/mobile.css";

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main section.page1, section.page3 {
	background: #42A1BE;
}

.main section.page2, section.page4 {
	background: #FFFFFF;
}

.main section .page_container {
	position: relative;
	top: 10%;
	margin: 0 auto 0;
	max-width: 1200px;
	z-index: 3;
}

.main section  {
	overflow: hidden;
}

.google-badge {
	width: 200px;
	display: block;
	margin-bottom: 12px;
}

.apple-badge {
	width: 200px;
	display: block;
}

body {
	margin: 0;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 10;
	text-align: center;
}

.sticky + .content {
	padding-top: 60px;
}

.inicio-header {
	font-family: fira-bold;
	font-size: 1.9em;
	color: white;
}

.inicio-text {
	font-family: fira-light;
	font-size: 0.9em;
	color: white;
}

.inicio-logo {
	width: 600px;
}

.feature-text-1 {
	font-family: fira-light;
	font-size: 0.8em;
	color: black;
	margin-top:1em;
	margin-bottom:1em;
	text-align: center;
}

.feature-text-2 {
	font-family: fira-light-bold;
	font-size: 0.8em;
	color: black;
	text-align: center;
}

.feature-main-img {
	width: 400px;
}

.feature-img-1 {
	max-width: 250px;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-right: 50px;
}

.feature-img-2 {
	max-width: 250px;
	margin-bottom: 50px;
}

.valor-header {
	font-family: fira-light;
	font-size: 1.5em;
	color: white;
	text-align: center;
	margin-bottom: 2em;
}

.valor-item {
	padding-right: 15px;
	padding-left: 15px;
}

.valor-img {
	width: 250px;
}

.valor-text {
	font-family: fira-italic;
	font-size: 0.6em;
	color: white;
	margin-top: 2em;
}

.valor-conocer {
	margin-top:60px;
	margin-bottom:60px;
	text-align: center;
}

.valor-conocer-text {
	font-family: fira-light;
	font-size: 1.0em;
	color:white;
	text-align: center;
}

.contacto-header {
	margin-top: 50px;
	font-family: fira-light;
	font-size: 1.5em;
	color: black;
}

.contacto-text {
	font-family: fira-light;
	font-size: 0.7em;
	color: black;
}

.deep-blue {
	background-color: #42A1BE;
	padding-top: 50px;
}

@font-face {
	font-family: fira-light;
	src: url(assets/fonts/fira-sans/FiraSans-Light.ttf);
}

@font-face {
	font-family: fira-italic;
	src: url(assets/fonts/fira-sans/FiraSans-LightItalic.ttf);
}

@font-face {
	font-family: fira-light-bold;
	src: url(assets/fonts/fira-sans/FiraSans-Bold.ttf);
}

@font-face {
	font-family: fira-bold;
	src: url(assets/fonts/fira-sans/FiraSans-SemiBold.ttf);
}

.contact {
	padding-top:150px;
	padding-bottom:150px;
	padding-left:2em;
	padding-right:2em;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.contact .content {
	width: 40%;
	flex: 0 1 auto;
}

.contact .filler {
	height: 100%;
	flex: 1 1 auto;
}

html {
	scroll-behavior: smooth;
}

.form-control {
	width: 30%;
}