.equipo-header {
	font-family: fira-light;
	font-size: 1.7em;
	color: black;
	text-align: center;
	margin-bottom: 2em;
}

.equipo-advisor-text {
	font-family: fira-light;
	font-size: 1.7em;
	color: black;
	text-align: center;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.equipo-intro {
	color: black;
	font-family: fira-light;
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 1.7em;
}

.equipo-item {
	margin: 0 20px;
}

.equipo-advisor-row {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.equipo-advisor {
	margin: 0 20px;
}

.equipo-img {
	width: 150px;
	margin-bottom: 10px;
}

.equipo-img:hover {
	opacity: 0.7;
}

.equipo-text {
	font-family: fira-italic;
	font-size: 15px;
	color: black;
	text-align: center;
	width: 150px;
	margin: 0 0;
}