.header-logo {
	height: 100px;
	margin-bottom: 20px;
}

#topbar {
	background-color: #ffffff;
	width: 100%;
	height: 50px;
}

#img-logo {
	position: absolute;
	height: 50px;
	left: 10%;
	display: none;
}

#menu-items {
	width: 500px;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
}

.side-item {
	color: white;
	display: block;
	width: 100%;
	font-size: 20px;
	font-family: fira-light;
	margin: 30px 0;
}

.content {
	padding-top: 0px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

.menu-sticky {
	float:right;
	margin-right: 5%;
}

#menu-items a:link {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: fira-light;
	background-color: #ffffff;
}

#menu-items a:visited {
	color: black;
}

#menu-items a:hover, a:active {
	color: #42A1BE;
}

#menu-items a:focus {
	color: #42A1BE;
}
