.topbar {
	background-color: #ffffff;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

.items {
	margin: 0 auto;
	max-width: 1200px;
}

.img-logo {
	float: left;
	height: 50px;
	overflow: hidden;
}

.navbar {
	float: right;
	height: 50px;
	overflow: hidden;
}

.navbar a:link {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: fira-light;
	background-color: white;
}

.navbar a:visited {
	color: black;
}

.navbar a:hover, a:active {
	color: #42A1BE;
}

.navbar a:focus {
	color: #42A1BE;
}