.value {
	background: #42A1BE;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.value-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.valor-header {
	font-family: fira-light;
	color: white;
	text-align: center;
	margin-bottom: 5vh;
	width: 100%;
	height: 10%;
}

.valor-row {
	height: 300px;
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.valor-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	min-width: 20%;
}

.valor-img {
	max-width: 80%;
	max-height: 80%;
	margin: 0 auto;
	justify-self: center;
}

@media screen and (min-width: 601px) {
	.valor-header {
		font-size: 2em;
	}
	.valor-text {
		font-family: fira-italic;
		font-size: 0.7em;
		color: white;
		margin-top: 1em;
		text-align: center;
		max-width: 100%;
		min-width: 70%;
	}
}

@media screen and (max-width: 600px) {
	.valor-header {
		margin-top:20px;
		font-size: 1em;
	}

	.valor-text {
		font-family: fira-italic;
		font-size: 0.8em;
		color: white;
		margin-top: 1em;
		text-align: center;
		max-width: 100%;
		min-width: 70%;
	}

	.valor-conocer-btn {
		margin-bottom: 30px;
	}
}

.valor-conocer-text {
	margin-top: 2%;
	font-family: fira-light;
	font-size: 3vmin;
	color:white;
	align-self: center;
}

.valor-conocer-btn {
	background-color: #142737;
	max-width: 120px;
	height: 35px;
	color: white;
	font-size: 0.6em;
	font-family: fira-light;
	border: none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	align-self: center;
	justify-self: flex-end;
}