.equipo-content {
	padding: 50px 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-items: center;
	justify-content: center;
	z-index: 5;
}

.equipo-header, .equipo-advisor-header {
	font-family: fira-light;
	font-size: 1.7em;
	color: black;
	text-align: center;
	margin-bottom: 0.6em;
}

.equipo-advisor-header {
	margin-top: 1em;
}

.equipo-intro {
	color: black;
	font-family: fira-light;
	font-size: 0.6em;
	text-align: center;
	margin: 0 10%;
	margin-bottom: 1.7em;
}

.equipo-row {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.equipo-item {
	margin: 0 20px;
	max-width: 200px;
}

.equipo-img {
	width: 150px;
	margin-bottom: 10px;
}

.equipo-img:hover {
	opacity: 0.7;
}

.equipo-text {
	font-family: fira-italic;
	font-size: 15px;
	color: black;
	text-align: center;
	width: 150px;
	margin: 0 0;
}