.main section.feature {
	background: white;
	width: 100%;
	height: 100%;
	display: flex;
}

.main section.feature .page-container {
	justify-content: space-evenly;
}

.feature-content {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.feature-text-1 {
	font-family: fira-light;
	font-size: 0.8em;
	color: black;
	margin-top:1em;
	margin-bottom:1em;
	text-align: center;
}

.feature-text-2 {
	font-family: fira-light-bold;
	font-size: 0.8em;
	color: black;
	text-align: center;
}

.feature-main-img {
	width: 30vh;
	margin: 0 auto;
}

.feature-img-1 {
	max-width: 30vh;
	max-height: 50vh;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-right: 50px;
}

.feature-img-2 {
	max-width: 30vh;
	max-height: 50vh;
	margin-bottom: 50px;
}