.google-badge {
	width: 200px;
	display: block;
	margin-bottom: 12px;
}

.apple-badge {
	width: 200px;
	display: block;
}

.inicio-header {
	font-family: fira-bold;
	font-size: 1.9em;
	color: white;
	margin-top:0.6em;
	margin-bottom:0.5em;
}

.inicio-text {
	font-family: fira-light;
	font-size: 0.9em;
	color: white;
}

.inicio-logo {
	width: 600px;
}

.feature-text-1 {
	font-family: fira-light;
	font-size: 0.8em;
	color: black;
	margin-top:1em;
	margin-bottom:1em;
	text-align: center;
}

.feature-text-2 {
	font-family: fira-light-bold;
	font-size: 0.8em;
	color: black;
	text-align: center;
}

.feature-main-img {
	width: 400px;
}

.feature-img-1 {
	max-width: 250px;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-right: 50px;
}

.feature-img-2 {
	max-width: 250px;
	margin-bottom: 50px;
}

.valor-header {
	font-family: fira-light;
	font-size: 1.7em;
	color: white;
	text-align: center;
	margin-bottom: 2em;
}

.valor-item {
	padding-right: 15px;
	padding-left: 15px;
}

.valor-img {
	width: 250px;
}

.valor-text {
	font-family: fira-italic;
	font-size: 0.6em;
	color: white;
	margin-top: 2em;
	text-align: center;
	max-width: 250px;
}

.valor-conocer {
	margin-top:60px;
	margin-bottom:60px;
	text-align: center;
}

.valor-conocer-text {
	font-family: fira-light;
	font-size: 1.0em;
	color:white;
	text-align: center;
}

.valor-conocer-btn {
	background-color: #142737;
	width: 120px;
	height: 35px;
	color: white;
	font-size: 0.6em;
	font-family: fira-light;
	border: none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contacto-header {
	margin-top: 35px;
	font-family: fira-light;
	font-size: 1.5em;
	color: black;
}

.contacto-text {
	font-family: fira-light;
	font-size: 0.7em;
	color: black;
	width: 40%;
}

.contacto-btn {
	background-color: #42A1BE;
	float: right;
	width: 80px;
	height: 35px;
	color: white;
	font-size: 0.5em;
	font-family: fira-light;
	border: none;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.form-control {
	width: 30%;
	border-color: #42A1BE;
	border: 1px solid #42A1BE;
	border-radius: 0px;
	padding: 10px 10px;
	box-sizing: border-box;
	resize: none;
}

.motive-label {
	font-family: fira-italic;
	font-size: 0.5em;
	color: grey;
}

.form-btn {
	width: 30%;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    padding: .5em;
    padding-right: 1.5em
}

#mySelect {
    border-radius: 0
}

input::placeholder, textarea::placeholder {
	font-family: fira-italic;
}

.footer-bar {
	background-color: #42A1BE;
	height: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
}

.footer {
	max-width: 1200px;
	margin: 0 auto;
}

.footer p {
	color: white;
}

.footer-sites {
	font-size: 0.5em;
	text-align: center;
	margin: 0;
}

.footer-copy {
	font-size: 0.5em;
	position: absolute;
	color: white;
	bottom: 0;
	left: 50%;
	margin: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.footer-store {
	font-size: 0.5em;
}

.footer .google-badge {
	width: 40%;
}

.footer .apple-badge {
	width: 40%;
}