.feature {
	background: white;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.feature-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 700px;
}

.feature-text-1 {
	font-family: fira-light;
	font-size: 1em;
	color: black;
	margin-top:1em;
	margin-bottom:1em;
	text-align: center;
}

.feature-text-2 {
	font-family: fira-light-bold;
	font-size: 0.8em;
	color: black;
	text-align: center;
}

.feature-main-img {
	max-width: 30vw;
	margin: 0 auto;
}

.feature-img-1, .feature-img-2 {
	width: 15vw;
	height: auto;
	margin-right: 10%;
}

.feature-img-1 {
	margin-top: 30%;
}