.inicio {
	background: #42A1BE;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.inicio-content {
	width: 50%;
	display: block;
}

.inicio-header {
	font-family: fira-bold;
	font-size: 1.9em;
	color: white;
	margin-top:10%;
	margin-bottom:10%;
}

.inicio-text {
	font-family: fira-light;
	font-size: 0.9em;
	color: white;
}

.google-badge {
	width: 200px;
	display: block;
	margin-bottom: 12px;
}

.apple-badge {
	width: 200px;
	display: block;
}

.inicio-logo {
	max-width: 100%;
}
