@import "navbar.css";
@import "mobile.css";
@import "page_inicio.css";
@import "page_feature.css";
@import "page_valor.css";
@import "page_contact.css";
@import "page_equipo.css";
@import "footer.css";
@import "social.css";
@import "w3.css";


html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: fira-light;
	src: url(../assets/fonts/fira-sans/FiraSans-Light.ttf);
}

@font-face {
	font-family: fira-italic;
	src: url(../assets/fonts/fira-sans/FiraSans-LightItalic.ttf);
}

@font-face {
	font-family: fira-light-bold;
	src: url(../assets/fonts/fira-sans/FiraSans-Bold.ttf);
}

@font-face {
	font-family: fira-bold;
	src: url(../assets/fonts/fira-sans/FiraSans-SemiBold.ttf);
}