@import "navbar.css";
@import "mobile.css";
@import "page_inicio.css";
@import "page_feature.css";
@import "page_valor.css";
@import "page_contact.css";
@import "page_equipo.css";
@import "social.css";
@import "onepage-scroll.css";

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.page-container {
	max-width: 1200px;
	display: flex;
	margin: auto auto;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: fira-light;
	src: url(../assets/fonts/fira-sans/FiraSans-Light.ttf);
}

@font-face {
	font-family: fira-italic;
	src: url(../assets/fonts/fira-sans/FiraSans-LightItalic.ttf);
}

@font-face {
	font-family: fira-light-bold;
	src: url(../assets/fonts/fira-sans/FiraSans-Bold.ttf);
}

@font-face {
	font-family: fira-bold;
	src: url(../assets/fonts/fira-sans/FiraSans-SemiBold.ttf);
}